<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>NO</th>
      <th>Nama Game</th>
      <th>Item</th>
      <th>Total Harga</th>
      <th>Status</th>
      <th>Nama Player</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < transactions.length; i++) { %> 
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <ul class="list-inline">
            <li class="list-inline-item">
              <img src="/uploads/<%= transactions[i].historyVoucherTopup?.thumbnail %>" alt="thumbnail" class="img-thumbnail" width="48">
            </li>
          </ul>
          <%= transactions[i].historyVoucherTopup?.gameName %>
          <br>
          <span class="text-sm text-secondary"><%= transactions[i].historyVoucherTopup?.category %></span>
        </td>
        <td>
          <%= transactions[i].historyVoucherTopup?.coinQuantity %>
          <%= transactions[i].historyVoucherTopup?.coinName %>
        </td>
        <td>
          <%= rupiah(transactions[i].historyVoucherTopup?.price) %>
        </td>
        <td>
          <% if (transactions[i].status === 'pending') { %>
            <span class="badge badge-warning">
              Ditunda
            </span>
            <% } else if(transactions[i].status === 'success') { %>
            <span class="badge badge-success">
              Sukses
            </span>
            <% } else { %>
            <span class="badge badge-danger">
              Gagal
            </span>
            <% } %>
        </td>
        <td>
          <%= transactions[i].player?.name %>
        </td>
        <td class="d-flex">
          <% if (transactions[i].status === 'pending') { %>
            <form action="/transaction/status/<%= transactions[i]._id %>?_method=PATCH" method="post">
              <input type="hidden" name="status" value="success">
              <button type="submit" class="btn btn-sm btn-success mx-1">
                <i class="fas fa-check"></i>
              </button>
            </form>
            <form action="/transaction/status/<%= transactions[i]._id %>?_method=PATCH" method="post">
              <input type="hidden" name="status" value="failed">
              <button type="submit" class="btn btn-sm btn-danger mx-1">
                <i class="fas fa-times"></i>
              </button>
            </form>
          <% } %>
        </td>
      </tr>
    <% } %> 
  </tbody>
  </tfoot>
</table>
